@import 'modules/variables';
@import 'modules/mixin';

.pace-done #global-container {
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
	pointer-events: none;
	user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background-color: rgba(0, 0, 0, 0.19999999999999996);
	position: fixed;
	z-index: -1;
	top: 0;
	right: 100%;
	bottom: 0;
	width: 100%;
}

.pace .pace-progress::after {
  content: attr(data-progress-text);
  display: block;
  // left:0;
  text-align: right;
  font-weight: 100;
  font-size: 2em;
  font-family: 'Helvetica Neue', 'Yu Gothic', 'Meiryo', sans-serif;
  color: #535353;
}
