@charset "UTF-8";
.swiper-container {
  overflow: visible !important; }

.swiper-slide {
  height: 500px;
  overflow: hidden; }
  .swiper-slide > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease; }
  .swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: rgba(0, 61, 125, 0.1); }
  .swiper-slide-active > img {
    transform: none; }
  .swiper-slide-active .hero__title {
    opacity: 1;
    transform: translate(-50%, -50%); }

.swiper-button-next, .swiper-button-prev {
  background-color: black;
  color: white;
  opacity: 0.7;
  border-radius: 50%;
  height: 48px;
  width: 48px; }

.swiper-pagination {
  bottom: -40px; }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2); }
    .swiper-pagination-bullet-active {
      color: #fff;
      background: #007aff; }

.hero {
  overflow: hidden;
  padding-top: 100px; }
  .hero__title {
    position: absolute;
    background-color: white;
    padding: 5px;
    width: 60%;
    border: 2px black solid;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: white;
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s; }
  .hero__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 22px;
    overflow: hidden; }
  .hero__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
    animation-name: kf-arrow-anime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards; }
  .hero__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);
    left: -8px;
    top: 11px;
    font-size: 1.2em; }

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%); }
  30% {
    transform: none; } }
.animate-title,
.tween-animate-title {
  opacity: 0; }
  .animate-title.inview,
  .tween-animate-title.inview {
    opacity: 1; }
    .animate-title.inview .char,
    .tween-animate-title.inview .char {
      display: inline-block; }
  .animate-title .char,
  .tween-animate-title .char {
    opacity: 0; }

.animate-title.inview .char {
  animation-name: kf-animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both; }
  .animate-title.inview .char:nth-child(1) {
    animation-delay: 0.04s; }
  .animate-title.inview .char:nth-child(2) {
    animation-delay: 0.08s; }
  .animate-title.inview .char:nth-child(3) {
    animation-delay: 0.12s; }
  .animate-title.inview .char:nth-child(4) {
    animation-delay: 0.16s; }
  .animate-title.inview .char:nth-child(5) {
    animation-delay: 0.2s; }
  .animate-title.inview .char:nth-child(6) {
    animation-delay: 0.24s; }
  .animate-title.inview .char:nth-child(7) {
    animation-delay: 0.28s; }
  .animate-title.inview .char:nth-child(8) {
    animation-delay: 0.32s; }
  .animate-title.inview .char:nth-child(9) {
    animation-delay: 0.36s; }
  .animate-title.inview .char:nth-child(10) {
    animation-delay: 0.4s; }
  .animate-title.inview .char:nth-child(11) {
    animation-delay: 0.44s; }
  .animate-title.inview .char:nth-child(12) {
    animation-delay: 0.48s; }
  .animate-title.inview .char:nth-child(13) {
    animation-delay: 0.52s; }
  .animate-title.inview .char:nth-child(14) {
    animation-delay: 0.56s; }
  .animate-title.inview .char:nth-child(15) {
    animation-delay: 0.6s; }
  .animate-title.inview .char:nth-child(16) {
    animation-delay: 0.64s; }
  .animate-title.inview .char:nth-child(17) {
    animation-delay: 0.68s; }
  .animate-title.inview .char:nth-child(18) {
    animation-delay: 0.72s; }
  .animate-title.inview .char:nth-child(19) {
    animation-delay: 0.76s; }
  .animate-title.inview .char:nth-child(20) {
    animation-delay: 0.8s; }
  .animate-title.inview .char:nth-child(21) {
    animation-delay: 0.84s; }
  .animate-title.inview .char:nth-child(22) {
    animation-delay: 0.88s; }
  .animate-title.inview .char:nth-child(23) {
    animation-delay: 0.92s; }
  .animate-title.inview .char:nth-child(24) {
    animation-delay: 0.96s; }
  .animate-title.inview .char:nth-child(25) {
    animation-delay: 1s; }
  .animate-title.inview .char:nth-child(26) {
    animation-delay: 1.04s; }
  .animate-title.inview .char:nth-child(27) {
    animation-delay: 1.08s; }
  .animate-title.inview .char:nth-child(28) {
    animation-delay: 1.12s; }
  .animate-title.inview .char:nth-child(29) {
    animation-delay: 1.16s; }
  .animate-title.inview .char:nth-child(30) {
    animation-delay: 1.2s; }

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.cover-slide {
  position: relative;
  overflow: hidden; }
  .cover-slide::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eaebe6;
    opacity: 0; }
  .cover-slide.inview::after {
    opacity: 1;
    animation-name: kf-cover-slide;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both; }

@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0); }
  50% {
    transform-origin: left;
    transform: scaleX(1); }
  50.1% {
    transform-origin: right;
    transform: scaleX(1); }
  100% {
    transform-origin: right;
    transform: scaleX(0); } }
.img-zoom, .bg-img-zoom {
  opacity: 0; }
  .inview .img-zoom, .inview .bg-img-zoom {
    opacity: 1;
    transition: transform 0.3s ease;
    animation-name: kf-img-show;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; }
    .inview .img-zoom:hover, .inview .bg-img-zoom:hover {
      transform: scale(1.05); }

@keyframes kf-img-show {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  50.1% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1; } }
.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none; }
.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4); }

.bg-img-zoom {
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; }

.img-bg50 {
  position: relative; }
  .img-bg50::before {
    display: block;
    content: '';
    padding-top: 50%; }

#container {
  position: relative;
  background-color: white;
  z-index: 2;
  transition: all 1s ease; }

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 200px; }
  .mobile-menu__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    cursor: pointer; }
  .mobile-menu__main {
    padding: 0;
    perspective: 2000px;
    transform-style: preserve-3d; }
  .mobile-menu__item {
    list-style: none;
    display: block;
    width: 200px;
    transform: translate3d(0, 0, -1000px);
    padding: 0 40px;
    transition: transform 0.3s, opacity 0.2s;
    opacity: 0; }
  .mobile-menu__link {
    display: block;
    margin-top: 30px;
    color: black;
    text-decoration: none; }
  .mobile-menu__top {
    background-color: relative;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-item: center; }
  .mobile-menu__btn {
    background-color: white;
    height: 100px;
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer; }
    .mobile-menu__btn > span {
      background-color: white;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s; }
      .mobile-menu__btn > span:last-child {
        margin-bottom: 0; }
  .mobile-menu___main-title {
    font-weight: 600;
    font-size: 36px; }
  .mobile-menu___sub-title {
    display: block;
    font-size: 24px;
    color: #535353; }

.menu-open #container {
  transform: translate(-200px, 50px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8); }
.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible; }
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1; }
  .menu-open .mobile-menu__item:nth-child(1) {
    transition-delay: 0.7s; }
  .menu-open .mobile-menu__item:nth-child(2) {
    transition-delay: 1.4s; }
  .menu-open .mobile-menu__item:nth-child(3) {
    transition-delay: 2.1s; }
  .menu-open .mobile-menu__item:nth-child(4) {
    transition-delay: 2.8s; }
  .menu-open .mobile-menu__item:nth-child(5) {
    transition-delay: 3.5s; }
.menu-open .mobile-menu__btn > span {
  background-color: white; }
  .menu-open .mobile-menu__btn > span:nth-child(1) {
    transition-delay: 70ms;
    transform: translateY(11px) rotate(135deg); }
  .menu-open .mobile-menu__btn > span:nth-child(2) {
    transition-delay: 0s;
    transform: translateX(-18px) scaleX(0); }
  .menu-open .mobile-menu__btn > span:nth-child(3) {
    transition-delay: 140ms;
    transform: translateY(-11px) rotate(-135deg); }

/* pagetop_styles.css */
/* refer : https://rfs.jp/sb/javascript/js-lab/brn-backtotop.html */
#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  background: #3f98ef;
  border-radius: 50%;
  display: block;
  z-index: 10;
  opacity: 0; }

#page_top p {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: underline;
  color: white;
  top: 10px;
  /* text-align: center; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 0; }

#page_top.fadein {
  opacity: 0.6;
  transition: all .5s; }

#page_top.fadein:hover {
  opacity: 0.9;
  cursor: pointer; }

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif; }

img {
  max-width: 100%;
  vertical-align: bottom; }

.font-sm, .sub-title, .lessons__title {
  font-size: 14px; }

.font-md, .section-title::after {
  font-size: 17px; }

.font-lr {
  font-size: 17px; }

.font-lg, .main-title, .section-title {
  font-size: 25px; }

.mb-sm {
  margin-bottom: 16px !important; }

.mb-lg {
  margin-bottom: 80px !important; }

.pb-sm {
  padding-bottom: 16px !important; }

.pb-lg, .hero {
  padding-bottom: 80px !important; }

.content-width, .lessons {
  width: 100%;
  margin: 0 auto;
  max-width: 1070px; }

.hide {
  display: none; }

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block; }

.sub-title, .lessons__title {
  color: #535353; }

.container section {
  padding: 30px 0;
  text-align: center; }

.container section:nth-of-type(odd) {
  background: #fff; }

.container section:nth-of-type(even) {
  background: #ddd; }

.blue_bg {
  color: #fff;
  background: url(../img/bg_blue.png);
  background-size: cover; }

.red_bg {
  color: #fff;
  background: url(../img/bg_red.png);
  background-size: cover; }

.section-title {
  text-align: center;
  font-weight: bold;
  color: #008;
  margin-bottom: 20px;
  margin-top: 0; }

.section-title::after {
  content: attr(data-subtitle);
  display: block;
  color: #888; }

.header {
  position: relative;
  height: 100px; }
  .header__inner {
    position: absolute;
    top: 20px;
    padding: 0 0 20px 20px;
    text-align: left; }

/* Home/Cloud infrastructure */
.buttons .btn-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 30 0 30;
  padding: 10px 20px;
  width: 80%; }
  .buttons .btn-list > .btn {
    display: inline-block;
    background-color: rgba(75, 169, 75, 0.3);
    color: black;
    border-color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
    border: solid;
    border-width: 1px;
    border-radius: 5px; }
    .buttons .btn-list > .btn img, .buttons .btn-list > .btn i {
      width: 2em;
      padding: 0 0.3em; }
    .buttons .btn-list > .btn:hover {
      background-color: #4ba94b; }

.infra.hide {
  display: none; }

.lessons__inner {
  margin: 0 auto;
  text-align: center;
  width: 400px; }
.lessons__item {
  text-align: left;
  width: 400px;
  margin-bottom: 100px;
  max-width: 1070px; }
  .lessons__item:nth-child(even) {
    background-color: #eaebe6; }
.lessons__image {
  width: 400px; }

/* footer */
footer .container {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center; }

@media (min-width: 480px) {
  /******************************************************************
  
  Stylesheet: 480px以上(スマホの横向き)のモニタで適用
  
  ******************************************************************/ }
@media (min-width: 600px) {
  /******************************************************************
  
  Stylesheet: 600px以上のタブレットやモニタで適用
  
  ******************************************************************/ }
@media (min-width: 800px) {
  /******************************************************************
  
  Stylesheet: 800px以上のモニタで適用
  
  ******************************************************************/
  .font-sm, .sub-title, .lessons__title {
    font-size: 16px; }

  .font-md, .section-title::after {
    font-size: 19px; }

  .font-lr {
    font-size: 23px; }

  .font-lg, .main-title, .section-title {
    font-size: 36px; }

  .mb-lg {
    margin-bottom: 150px !important; }

  .pb-lg, .hero {
    padding-bottom: 150px !important; }

  .header__nav {
    width: 400px; }

  .lessons__inner {
    width: 100%;
    margin: 0 auto;
    max-width: 1070px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .lessons__item {
    width: 40%;
    margin: 10px 20px 60px 20px;
    background-color: white; } }
@media (min-width: 960px) {
  /******************************************************************
  
  Stylesheet: 960px以上のモニタで適用
  
  ******************************************************************/ }
@media (min-width: 1280px) {
  /******************************************************************
  
  Stylesheet: 1280px以上のモニタで適用
  
  ******************************************************************/ }
@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
  /******************************************************************
  
  Stylesheet: Retinaディスプレイで適用
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  .icon {
  	background: url(images/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  */ }
@media print {
  /******************************************************************
  
  Stylesheet: プリンタのみに適用
  
  ******************************************************************/ }

/*# sourceMappingURL=style.css.map */
